<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Producción Diaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .form-container {
            background-color: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="form-container">
        <a href="{%url 'panel'%}" class="btn btn-secondary">Volver</a>
        <h2 class="mb-4 text-center">Registro de Producción Diaria</h2>
        {% if is_operador %}
        <div class="alert alert-success text-center">Eres un Operador</div>
        {% else %}
        <div class="alert alert-danger text-center">No eres un Operador</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Registrar Producción</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
